**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/*.user
**/*.suo
**/Thumbs.db
**/.DS_Store
**/Logs/
**/logs/
**/*.log
**/tests/
**/test/
**/*Tests/
**/*Test/
**/TestResults/
**/.git/
**/.gitignore
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/.env
**/deploy/
**/WMSDB/
**/gen-token/
**/*.md
**/*.ps1
**/*.sh
**/*.csx
