<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NLog Configuration for centralized logging -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" internalLogLevel="Off" internalLogFile="c:\temp\internal-nlog.txt">
    <extensions>
      <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets async="true">
      <target xsi:type="File" name="allfile" fileName="${basedir}\logs\nlog-all-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
      <target xsi:type="File" name="ownFile-web" fileName="${basedir}\logs\nlog-own-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
      <target name="database" xsi:type="Database" 
              connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ApprovalServiceDb;Integrated Security=true;" 
              commandText="INSERT INTO dbo.Log (Timestamp, Level, Logger, Message, Exception) VALUES (@Timestamp, @Level, @Logger, @Message, @Exception);">
        <parameter name="@Timestamp" layout="${date:O}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" levels="Trace,Debug,Info" writeTo="allfile" />
      <logger name="ApprovalService.*" minlevel="Trace" writeTo="ownFile-web,database" />
    </rules>
  </nlog>
</configuration>
